/* ~~ Allgemein ~~ */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

body 
{
    background-image: url("imgs/Hintergrund.jpg");
    background-size: 100%;
}

h1,h2,h3
{
    font-family: 'Open Sans';
    color: #fff;
}

p
{
    font-family: 'Roboto';
    font-size: 20px;
    color: #fff;
}

header
{
	height: 8%;
	width: 100%;
    background-color: #8D8D8D;
	text-align: center;
}

aside
{
	margin: 0 10% 0 10%;
}

/* ~~ Mauszeiger ~~ */          /*Hilft dem Spieler mit visueller unterstützung*/
#SpielerHand .Karte 
{
	cursor: pointer;
}
#ObersteKarte 
{
	cursor: pointer;
}

/* ~~ Spielfeld ~~ */
#GegnerHand
{
    background-image: url("imgs/Gegner.jpg");
}

#SpielerHand
{
    background-image: url("imgs/Spieler.jpg");
}

.Deck
{
	padding: 1% 2% 2% 2%;
    height: 100px;
    width: 20%;
    margin: 2% 10% 2% 10%;
    float: left;
}

.Hand
{
	padding: 1% 1.5% 1% 1.5%;
    height: 200px;
    margin: 2% 10% 2% 10%;
    border-radius: 30px;
    border-style: solid;
    border-color: #fff;
    background-size: 100%;
    clear: both;
}

/* ~~ Karten ~~ */
.Karte, .VersteckteKarte 
{
	height: 100px;
	width: 70px;
	margin: 0 5px 5px 0;
	border-width: 3px;
	border-style: solid;
	border-color: #fff;
	border-radius: 2px;
	text-align: center;
	float: left; 
}

.VersteckteKarte 
{
	background-color: #8D8D8D;
}

.Karte p 
{
	font-size: 40px;
	padding: 0 0 52px 0;
	margin: 0 0 1px 0;
}

.Rot 
{
	background-color: #B92D5D;
}
.Lila 
{
	background-color:#824998;
}
.Orange 
{
	background-color: #FF8648;
}
.Grün 
{
	background-color: #96D35F;
}
.Besonders
{
	background-color: #74A7FF;
}

#AblageDeck .Karte
{
	position:absolute;
}