@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

body
    {
        font-family: 'Roboto', sans-serif;        /*Definiert die Schriftart auf die oben verlinkte*/
        background-color: #A7baf2;              /*Hintergrundfarbe der gesammten Website*/
    }

#wrapper
    { 
        margin-left: 18%;          /*Lässt rechts 20% des Browsers frei*/
        margin-right: 18%;         /*Lässt links 20% des Browsers frei*/
        background-color: #ffffff;

    }

h1
    {  
        font-family: 'Open Sans', sans-serif;       /*Definiert die Schriftart auf die oben verlinkte*/
        text-align: center;                 	    /*Rückt Überschrift in die Mitte der Website*/
        text-transform: uppercase;                  /*Schriftdekoration Fett*/
        font-size: 50px;                            /*Schrtiftgröße 50 Pixel*/
        padding-top: 20px;
    }

#top
    {
        margin-top: -35px;      /*Entfernt den Abstand zwischen Wrapper und Seitenanfang*/
    }



#mainnav a
    {
        display: block;
        width: 20%;                         /*Jeder Punkt/Kasten bekommt 20% des Platzes (Da 4 Punkte)*/
        float: left;                        /*Liegen nebeneinander in einer Linie*/
        text-align: center;                 /*Schrift mittig im Kasten*/
        text-transform: uppercase;          /*Schrift in Versalien*/
        background-color: #cac2be;   /*Hintergrundfarbe des Kastens*/
        color: black;                     /*Textfarbe*/
        padding: 5px 0;                     /*Höhe des Kastens um die Schrift; die 0 gibt an das Seitlich neben dem Text kein Zusätzliches Padding sein soll*/
        margin-bottom: 10px;                /*Abstand nach Unten zum nächsten Element*/
    }

#mainnav ul
    {
        list-style-type: none;      /*Entfernt die Aufzählungeszeichen*/
        margin: 0;                  /*Kein weißer Rand neben der Navigation  */
        padding: 0;                 /*Kein weißer Rand unter/über der Navigation*/
    }

#mainnav a:hover,       /*Veränderungen für den Navigationspunkt der (hover) Überflogen wird*/
#mainnav a:active,      /*oder (active) Angeklickt wurde*/
#mainnav a:focus        /*oder (focus) im Fokus steht (zum Beispiel durch Tab)*/
    {
        background-color: #918C8B;
    }

#mainnav a.thispage         /*Veränderungen für den Navigationspunkt der (thispage) aktiven Seite*/
    {
        background-color: #4C6895;
    }

.row
    {
        margin-left: 5px;       /*Lässt links 5 Pixel frei zum Rand des Wrappers*/
        margin-right: 5px;      /*Lässt rechts 5 Pixel frei zum Rand des Wrappers*/
    }


.side1
    {
        float: left;
        width: 60%;         /*Reguliert die Breite des Feldes prozentual zum vorhandenen Platz*/
        margin-right: 2%;   /*Lässt 2 Prozent des vorhandenen Paltzes zum nächsten Block*/
    }

.side2
    {
        float: left;        /*Reiht sich neben den nächsten Block links an; ohne würden sie untereinander stehen*/
        width: 36%;         /*Reguliert die Breite des Feldes prozentual zum vorhandenen Platz*/
        margin-right: 2%;   /*Lässt 2 Prozent des vorhandenen Paltzes zum nächsten Block*/
    }

img
    {
        width: 100%;        /*Reguliert die Auflösung des Bildes*/
    }

a
    {
        font-weight: bold;          /*Schriftdekoration Fett*/
        text-decoration: none;      /*Entfernt die automaischen Unterstriche vom Link*/
    }

footer
    {
        background-color: #4C6895;     /*Hintergrundfarbe des Footers*/
        clear: left;                    /*Setzt den Footer hinter/unter alles andere*/
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 2%;                 /*Höhe des Kastens um den Text*/ 
    }

#bottom
    {
        margin-bottom: -10px;           /*Entfernt den Abstand zwischen footer und Seitenende*/
    }

/*.shadow
    { 
        background-color: #FFFFFF;
        -webkit-box-shadow: 1px 1px 15px #999999;
        box-shadow: 1px 1px 15px #999999;
    }*/