h1
{
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}

h2
{
    text-transform: uppercase;
    font-size: 20px
}

h3
{
    text-transform: uppercase;
    font-style: 15px;
}


#wrapper
{
    padding-left: 15%;
    padding-right: 15%;
}

#mainnav li
{
    width: 25%;
    float: left;
    text-align: center;
    padding: 15px 0;

}

