@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto'); /*Importiert die Schriften Open Sans und Roboto von GoogleFonts*/

body
    {
        font-family: 'Roboto', sans-serif;        /*Definiert die Schriftart auf die oben verlinkte*/
        background-color: #A7baf2;              /*Hintergrundfarbe der gesammten Website*/
    }

#wrapper
    { 
        margin-left: 18%;          /*Lässt rechts 20% des Browsers frei*/
        margin-right: 18%;         /*Lässt links 20% des Browsers frei*/
        background-color: #ffffff
    }

h1
    {  
        font-family: 'Open Sans';                   /*Definiert die Schriftart auf die oben verlinkte*/
        text-align: center;                 	    /*Rückt Überschrift in die Mitte der Website*/
        text-transform: uppercase;                  /*Schriftdekoration Fett*/
        font-size: 50px;                            /*Schrtiftgröße 50 Pixel*/
        padding-top: 20px;
    }

h2
    {
        font-family: 'Open Sans';                   /*Definiert die Schriftart auf die oben verlinkte*/
        text-align: center;                 	    /*Rückt Überschrift in die Mitte der Website*/
        text-transform: uppercase;                  /*Schriftdekoration Fett*/
        font-size: 35px;                            /*Schrtiftgröße 35 Pixel*/
    }

h3
    {
        font-family: 'Open Sans';                   /*Definiert die Schriftart auf die oben verlinkte*/
    }

p
    {
        font-family: 'Roboto';          /*Definiert die Schriftart auf die oben verlinkte*/
    }

a
    {
        font-weight: bold;          /*Schriftdekoration Fett*/
        text-decoration: none;      /*Entfernt die automaischen Unterstriche vom Link*/
    }

button
    {
        font-family: 'Roboto';
        background-color: lightblue;
    }

#Buttons button:hover
    {
        background-color: #ffffff;
    }

/*Navigation*/

    #mainnav a
    {
        
        width: 25%;                         /*Jeder Punkt/Kasten bekommt 25% des Platzes (Da 4 Punkte)*/
        float: left;                        /*Liegen nebeneinander in einer Linie*/
        text-align: center;                 /*Schrift mittig im Kasten*/
        text-transform: uppercase;          /*Schrift in Versalien*/
        background-color: #cac2be;        /*Hintergrundfarbe des Kastens*/
        color: black;                     /*Textfarbe*/
        padding: 5px 0;                     /*Höhe des Kastens um die Schrift; die 0 gibt an das Seitlich neben dem Text kein Zusätzliches Padding sein soll*/
        margin-bottom: 10px;                /*Abstand nach Unten zum nächsten Element*/
    }

    #mainnav a:hover,       /*Veränderungen für den Navigationspunkt der (hover) Überflogen wird*/
    #mainnav a:active,      /*oder (active) Angeklickt wurde*/
    #mainnav a:focus        /*oder (focus) im Fokus steht (zum Beispiel durch Tab)*/
    {
        background-color: #918C8B;
    }

    #mainnav a.thispage         /*Veränderungen für den Navigationspunkt der (thispage) aktiven Seite*/
    {
        background-color: #4C6895;
    }
/*
    .dropdown-content 
    {
        display: none;
        position: absolute;
        z-index: 1;
    }
      
    .dropdown-content a 
    {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {background-color: #ddd;}

    .dropdown:hover .dropdown-content {display: block;}
    */
/*Navigation Ende*/

footer
    {
        background-color: #918C8B;     /*Hintergrundfarbe des Footers*/
        clear: left;                    /*Setzt den Footer hinter/unter alles andere*/
        padding: 2px 0 2px 2px;              /*Höhe des Kastens um den Text*/ 
        font-family: 'Open Sans', sans-serif;       /*Definiert die Schriftart auf die oben verlinkte*/
    }