@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
/*Generell*/
body
{
    background-color: #cccccc;
}

footer
{
    clear: left;
    width: 100%;
    color: #ffffff;
    background-color: #505050;
    padding: 0.2% 0 0.2% 0;
}

p
{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

h1
{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}

h2
{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 20px
}

section h2
{
    margin-left: 5%;
}
 
h3
{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-style: 10px;
}

nav li
{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    list-style-type: none;
    float: left;
}

li
{
    text-decoration: none;
    list-style-type: none;
}

nav div div
{
    width: 25px;
    height: 5px;
    background-color: #505050;
    margin-bottom: 5px;
}

#Burger
{
    position: fixed;
    margin-top: -50px;
    margin-left: 20px;
    background-color: #cccccc;
    padding: 5px 5px 0 5px;
}

#Burger:hover
{
    transform: rotate(360deg);
    transition-duration: 0.8s;
}

#Burger:hover+ul 
{
    display: block;

}

ul:hover
{
    display: block;
}

ul 
{
    position: fixed;
    margin-top: -40px;
    margin-left: -15px;
    background-color: #cccccc;
    color: #ffffff;
    display: none;
}


img
{
    width: 90%;
    height: auto;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
}

section:nth-of-type(odd)
{
    background-color: #508010;
}

/*Handy*/


main
{
    width: 100%;
}

section
{
    background-color: #004000;
    width: 100%;
    float: left;
    margin: 0.2% 0.2% 0.2% 0.2%;
}

article
{
    background-color: #aaaaaa;
    margin: 0% 5% 0% 5%;
    padding: 0 0.2% 0 2%;
    overscroll-behavior: scroll;
}

aside
{
    width: 100%;
    margin-top: 2%;
}

/*Tablet*/
    
@media screen and (min-width: 415px) {
    
main
{
        width: 100%;
}
    
section
{
        background-color: #004000;
        width: 48%;
        float: left;
        margin: 0.2% 0.2% 0.2% 0.2%;
}
    
article
{
        background-color: #aaaaaa;
        margin: 0% 5% 0% 5%;
        padding: 0 0.2% 0 2%;
        overscroll-behavior: scroll;
}
    
aside
{
        width: 100%;
        margin-top: 2%;
}

}
    
/*PC*/

@media screen and (min-width: 1025px) {

main
{
    width: 75%;
    margin-left: 25%;
}

section
{
    background-color: #004000;
    width: 32.5%;
    height: 426px;
    float: left;
    margin: 0.2% 0.2% 0.2% 0.2%;
}

article
{
    background-color: #aaaaaa;
    margin: 0% 5% 0% 5%;
    padding: 0 0.2% 0 2%;
    overscroll-behavior: scroll;
}

aside
{
    width: 23%;
    position: absolute;
    margin-top: 4em;
}

aside:hover
{
    position: absolute;
    width: 40%;
    background-color: #cccccc;
    border-radius: 10%;
}

}

