@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

body
{
    background-color: #cccccc;
}

p
{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

h1
{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}

h2
{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 20px
}

section h2
{
    margin-left: 5%;
}
 
h3
{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-style: 10px;
}

nav li
{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    list-style-type: none;
    float: left;
}



img
{
    width: 90%;
    height: auto;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
}

main
{
    width: 75%;
    margin-left: 25%;
}

section
{
    background-color: #004000;
    width: 32.5%;
    float: left;
    margin: 0.2% 0.2% 0.2% 0.2%;
}

section:nth-of-type(odd)
{
    background-color: #508010;
}

article
{
    background-color: #aaaaaa;
    margin: 0% 5% 0% 5%;
    padding: 0 0.2% 0 2%;
    overscroll-behavior: scroll;
}

aside
{
    width: 23%;
    position: absolute;
    margin-top: 4em;
}

aside:hover
{
    position: absolute;
    width: 40%;
    background-color: #cccccc;
    border-radius: 10%;
}

footer
{
    clear: left;
    width: 100%;
    color: #ffffff;
    background-color: #505050;
    padding: 8px 0 8px 0;
}
