#wrapper
    { 
        padding-left: 10px;
        padding-right: 10px;
    }

h1
    {  
        text-align: center
    }

#side1
    {
        float: left;
        width: 59%;
    }

#side2
    {
        float: left;
        width: 39%;
    }