@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto'); /*Importiert die Schriften Open Sans und Roboto von GoogleFonts*/

body
    {
        font-family: 'Roboto', sans-serif;        /*Definiert die Schriftart auf die oben verlinkte*/
        background-color: #A7baf2;              /*Hintergrundfarbe der gesammten Website*/
    }

#wrapper
    {
        margin-left: 18%;          /*Lässt rechts 20% des Browsers frei*/
        margin-right: 18%;         /*Lässt links 20% des Browsers frei*/
        background-color: #ffffff
    }

h1
    {  
        font-family: 'Open Sans';                   /*Definiert die Schriftart auf die oben verlinkte*/
        text-align: center;                 	    /*Rückt Überschrift in die Mitte der Website*/
        text-transform: uppercase;                  /*Schriftdekoration Fett*/
        font-size: 50px;                            /*Schrtiftgröße 50 Pixel*/
        padding-top: 20px;
    }

h2
    {
        font-family: 'Open Sans';                   /*Definiert die Schriftart auf die oben verlinkte*/
        text-align: center;                 	    /*Rückt Überschrift in die Mitte der Website*/
        text-transform: uppercase;                  /*Schriftdekoration Fett*/
        font-size: 35px;                            /*Schrtiftgröße 35 Pixel*/
    }

h3
    {
        font-family: 'Open Sans';                   /*Definiert die Schriftart auf die oben verlinkte*/
        text-align: center;
    }

button
    {
        font-family: 'Roboto';
        background-color: lightblue;
    }

#Buttons button:hover
    {
        background-color: #ffffff;
    }

p
    {
        font-family: 'Roboto';          /*Definiert die Schriftart auf die oben verlinkte*/
    }

a
    {
        font-weight: bold;          /*Schriftdekoration Fett*/
        text-decoration: none;      /*Entfernt die automaischen Unterstriche vom Link*/
    }


footer
    {
        background-color: #918C8B;     /*Hintergrundfarbe des Footers*/
        clear: left;                    /*Setzt den Footer hinter/unter alles andere*/
        padding: 2px 0 2px 2px;              /*Höhe des Kastens um den Text*/ 
        font-family: 'Open Sans', sans-serif;       /*Definiert die Schriftart auf die oben verlinkte*/
    }