@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

body {
    background-color: #b392ac;
    color: #f5f9e9;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 60px;
}

h2{
    font-family: 'Roboto', sans-serif;
}

h3{
    font-family: 'Roboto', sans-serif;
}

p{
    font-family: 'Roboto', sans-serif;
}

main {
    width: 74%;
    float: left;
    padding-left: 40px;
}

article {
    width: 30%;
    float: left;
}

div {
    width: 30%;
    float: left;
}

aside {
    width: 22%;
    float: left;
}

option[value=""][disabled] {
    display: none;
}

#uff {
    width: 22%;
    float: left;
}

#Trank {
    width: 100%;
}

#PreisG {
    width: 100%;
}

#Zutatenliste {
    width: 100%;
}