@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

body {
    background-color: #b392ac;
    color: #f5f9e9;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 60px;
}

h2{
    font-family: 'Roboto', sans-serif;
}

h3{
    font-family: 'Roboto', sans-serif;
}

p{
    font-family: 'Roboto', sans-serif;
}

#Auswahl {
    width: 48%;
    float: left;
    padding-left: 40px;
}

aside {
    width: 48%;
    float: left;
    padding-left: 20px;
}

option[value=""][disabled] {
    display: none;
}
