@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

body
{
    background-color: #cccccc;
}

p
{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

h1
{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}

h2
{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 20px
}
 
h3
{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-style: 14px;
}

nav li
{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    list-style-type: none;
    width: 25%;
    float: left;
    padding: 15px 0;
    margin-bottom: 15px;
}



img
{
    width: 100%;
    height: auto;
    border: #aaaaaa;
    border-radius: 10px;
}

main
{
    width: 75%;
    margin-left: 25%;
}

section
{
    background-color: #004000;
    width: 33.3%;
    float: left;
}

section:nth-of-type(odd)
{
    background-color: #508010;
}

article
{
    background-color: #aaaaaa;
    width: 33.3%;
    float: left;
}

aside
{
    width: 23%;
    position: absolute;
    margin-top: 4em;
}

aside:hover
{
    position: absolute;
    width: 40%;
    background-color: #cccccc;
}

footer
{
    float: left;
    width: 100%;
    color: #ffffff;
    background-color: #505050;
}
